:root {
  --accent-color:#9747ff;
  --primery-font-famely:'Raleway', sans-serif;
  --secondary-font-family:'Roboto', sans-serif;
}
.link{text-decoration: none;}
.menu-link:hover,
.menu-link:focus{
  color:var(--accent-color);
}
button{
  cursor: pointer;
}
body{font-family: "Roboto", sans-serif;
    border-bottom: 1px solid #E7E9FC;
    background: #FFF;
    color: #434455}

    .header-page {justify-content: center;
    flex-shrink: 0;
  background: #fff;
}

.logo{
  color:#4d5ae5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.03em;
text-transform: uppercase;}
.logo:focus,
.logo:hover{background-color: #404bbf;}

.studio{color: var(--navyblue, #2E2F42);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.16; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;}
    .menu-list{display: inline-flex; }

    .menu-item{color: var(--navyblue, #2E2F42);
    font-family: "Roboto"sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    text-decoration: none;
    }
    .menu-item:hover,
    .menu-item:focus{background-color: #404bbf;}
    .address-list{
      color: #434455;
      line-height: 1.5;
      letter-spacing: 0.02;
      font-style: normal;
    }
    .address-list:hover,
    .address-list:focus{background-color: #404bbf;}
    .address-item{
      letter-spacing: 0.02;
      list-style-type: none;
    }
    .address-item:focus,
    .address-item:hover{background-color: #404bbf;}
/* Hero Image */
.haro-page{background-color: #2E2F42;}
.haro-title{
  color: #fff;
text-align: center;
font-family: "Roboto", sans-serif;
font-size: 56px;
font-weight: 700;
line-height: 1.07; /* 107.143% */
letter-spacing: 0.02em;
}
.haro-button{border-radius: 4px;
  background-color: #4D5AE5;
  }

/* Advantage */
.advantages-page{
  background-color: #FFF;
}

.advantages-title{color: #2E2F42;
font-size: 20px;
font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;}
.advantages-text{color:#434455;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;}
  /* Our Team */
.team-page{
  background-color: #FFF;
}
.our-team{
  color: #2E2F42;
text-align: center;
font-family: "Roboto", sans-serif;
font-size: 36px;
font-weight: 700;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.02em;
text-transform: capitalize;
}
.team-img{background: url(<path-to-image>), lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
}
.team-title{color: #2E2F42;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;}
.team-text{color:#434455;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;}
  /* Portfolio */
  .portfolio-page{
    background-color: #FFF; 
  }
  .logo-portfolio{
    color: #2E2F42;
text-align: center;
font-family: "Roboto", sans-serif;
font-size: 36px;
font-weight: 700;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.02em;
text-transform: capitalize;
  }
  .portfolio-img{
    background: url(<path-to-image>), lightgray -25.026px 0px / 125% 100% no-repeat;
  }
  .portfolio-title{color:#2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;}
  .portfolio-text{color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;}
    
    .footer-text{
      color: #F4F4FD;
font-family: "Roboto", sans-serif;
font-size: 16px;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
    }
